@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

/* Darker dark mode */
.dark {
  --color-fd-background: hsl(0, 0%, 3.5%);
  --color-fd-muted: hsl(0, 0%, 6%);
  --color-fd-popover: hsl(0, 0%, 5%);
  --color-fd-card: hsl(0, 0%, 5%);
  --color-fd-border: hsla(0, 0%, 20%, 25%);
  --color-fd-secondary: hsl(0, 0%, 7%);
  --color-fd-accent: hsla(0, 0%, 25%, 25%);
}

html {
  font-size: 14px;
  font-family: 'Geist', system-ui, sans-serif;
}

/* Limit main content width */
article {
  max-width: 48rem;
}

/* Headers not bold */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

